html {
  font-size: 14px;
  position: center;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: #333030; /* Dark Grey */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #f7f7f7; /* Light Grey */
}

.table,
.card {
  background-color: #323232; /* Dark Grey */
  color: #f7f7f7; /* Light Grey */
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
}

main {
  flex-grow: 1;
}

nav.navbar {
  z-index: 100;
}

#index-page #fixed-container .section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#welcome-section {
  padding: 20px;
}

#scroll-indicator {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#scroll-indicator p {
  color: #fd7101;
  font-size: 16px;
  margin-bottom: 10px;
}

#scroll-indicator img {
  width: 30px;
  height: auto;
}

#menu-section {
  display: flex;
  justify-content: center;
}

.menu-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 10px;
  position: relative;
  text-decoration: none;
}

.menu-button:hover,
.menu-button:focus {
  text-decoration: none;
}

.menu-button:active {
  color: inherit;
}

.menu-button:before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(45deg, #fd7101, #fd7090);
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.menu-button:hover:before {
  transform: rotate(225deg);
  top: -60%;
  left: -60%;
}

#login-button:hover {
  background-color: #ff6400;
  color: #111;
}

#register-button:hover {
  background-color: #000000;
  color: #ff6400;
}

#how-to-button:hover {
  background-color: #ff6400;
  color: #111;
}

#index-page #fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section {
  opacity: 0;
  transition: opacity 0.75s;
}

.fade-in {
  opacity: 1 !important;
}

.fade-out {
  opacity: 0 !important;
}

/* Training View  */

.completed-workout {
  background-color: #323232; /* Dark Grey */
  color: #f7f7f7; /* Light Grey */
  border: 2px solid #32CD32 !important;
  border-radius: 10px;
  padding: 10px;
}

#training-plan .list-group-item {
  background-color: #323232; /* Dark Grey */
  color: #f7f7f7; /* Light Grey */
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  padding: 15px;
}

#training-plan h4 {
  color: #f7f7f7; /* Light Grey */
  font-size: 1.5em;
  margin-bottom: 10px;
}

#training-plan h5 {
  color: #f7f7f7; /* Light Grey */
  font-size: 1.5em;
  margin-bottom: 5px;
}

#training-plan p {
  color: #f7f7f7; /* Light Grey */
  font-size: 1em;
  line-height: 1.5;
}

#training-plan button {
  background-color: #009688; /* Dark Teal */
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

/* Calendar CSS */
/* Default Theme */
/* General style */
.jsCalendar * {
  margin: 0;
  padding: 0;
}

.jsCalendar table,
.jsCalendar table th,
.jsCalendar table td {
  border: 0;
  box-sizing: content-box;
}

/* Blue default */
.jsCalendar table {
  background-color: #3b3b3b;
  border-collapse: collapse;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  font-family: Tahoma, Geneva, sans-serif;
  margin: 5px;
}

.jsCalendar tr {
  line-height: 0;
}

.jsCalendar thead .jsCalendar-title {
  height: 40px;
  line-height: 40px;
}

.jsCalendar thead .jsCalendar-title-left {
  float: left;
}

.jsCalendar thead .jsCalendar-title-right {
  float: right;
}

.jsCalendar thead .jsCalendar-nav-left,
.jsCalendar thead .jsCalendar-nav-right {
  border-radius: 10px;
  color: #999999;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin: 10px 8px;
  text-align: center;
  transition: color 0.2s, background-color 0.2s;
  width: 20px;
}

.jsCalendar thead .jsCalendar-nav-left:hover,
.jsCalendar thead .jsCalendar-nav-right:hover {
  background-color: #E2E2E2;
  color: #000000;
}

.jsCalendar thead .jsCalendar-nav-left {
  float: left;
}

.jsCalendar thead .jsCalendar-nav-right {
  float: right;
}

.jsCalendar thead .jsCalendar-title-name {
  cursor: default;
  float: left;
  font-size: 18px;
  font-weight: lighter;
  padding: 0 20px;
}

.jsCalendar thead .jsCalendar-nav-left:after {
  content: "<";
}

.jsCalendar thead .jsCalendar-nav-right:after {
  content: ">";
}

.jsCalendar thead .jsCalendar-week-days th {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.jsCalendar thead .jsCalendar-week-days th,
.jsCalendar tbody td {
  border-radius: 18px;
  border: 2px solid transparent; /* Set default border for all cells */
  box-sizing: border-box;
  cursor: default;
  display: inline-block;
  font-size: 12px;
  font-weight: lighter;
  height: 36px;
  line-height: 36px;
  margin: 1px 2px;
  text-align: center;
  transition: color 0.1s, background-color 0.2s;
  width: 36px;
}

.jsCalendar tbody td:hover {
  border: rgb(202, 11, 11) solid 2px !important;
}

.jsCalendar tbody td.jsCalendar-selected {
  border: rgb(202, 11, 11) solid 2px;
  background-color: #be0303;
  border: 2px solid #000000;
  height: 32px;
  line-height: 32px;
  width: 32px;
}

.jsCalendar tbody td.selected-date {
  border: rgb(202, 11, 11) solid 2px !important;
}

.jsCalendar tbody td.jsCalendar-current {
  font-weight: 200;
  border-radius: 18px;

  border: rgb(11, 202, 11) solid 2px;
}

.jsCalendar tbody td.jsCalendar-previous,
.jsCalendar tbody td.jsCalendar-next,
.jsCalendar tbody td.jsCalendar-unselectable {
  color: #CACACA;
}

.jsCalendar tbody td.jsCalendar-previous:hover,
.jsCalendar tbody td.jsCalendar-next:hover {
  color: #FFFFFF;
}

.jsCalendar tbody td.jsCalendar-unselectable:hover {
  background: transparent;
}

.jsCalendar thead {
  display: block;
  margin: 4px 4px 0 4px;
}

.jsCalendar tbody {
  display: block;
  margin: 0 4px 4px 4px;
}

.jsCalendar ::-moz-selection {
  background: #83D8FF;
}

.jsCalendar ::selection {
  background: #83D8FF;
}

/* Yellow */
.jsCalendar.yellow tbody td.jsCalendar-current {
  background-color: #FFE31B;
}

.jsCalendar.yellow ::-moz-selection {
  background: #FDE74C;
}

.jsCalendar.yellow ::selection {
  background: #FDE74C;
}

/* Orange */
.jsCalendar.orange tbody td.jsCalendar-current {
  background-color: #FFB400;
}

.jsCalendar.orange ::-moz-selection {
  background: #FFB400;
}

.jsCalendar.orange ::selection {
  background: #FFB400;
}

/* Red */
.jsCalendar.red tbody td.jsCalendar-current {
  background-color: #F6511D;
}

.jsCalendar.red ::-moz-selection {
  background: #F6511D;
}

.jsCalendar.red ::selection {
  background: #F6511D;
}

/* Green */
.jsCalendar.green tbody td.jsCalendar-current {
  background-color: #7FB800;
}

.jsCalendar.green ::-moz-selection {
  background: #7FB800;
}

.jsCalendar.green ::selection {
  background: #7FB800;
}


/* Material Theme */
/* Blue default */
.jsCalendar.material-theme table {
  border-radius: 0;
}

.jsCalendar.material-theme thead {
  background-color: #52C9FF;
  color: #FFFFFF;
  margin: 0;
  padding: 4px 4px 0 4px;
}

.jsCalendar.material-theme thead .jsCalendar-title {
  display: block;
  position: relative;
}

.jsCalendar.material-theme thead .jsCalendar-title-name {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  color: #FFFFFF;
  font-size: 16px;
  left: 15px;
  position: absolute;
  right: 15px;
  text-align: center;
}

.jsCalendar.material-theme thead .jsCalendar-title-left,
.jsCalendar.material-theme thead .jsCalendar-title-right {
  position: absolute;
  z-index: 1;
}

.jsCalendar.material-theme thead .jsCalendar-nav-left,
.jsCalendar.material-theme thead .jsCalendar-nav-right {
  color: #FFFFFF;
}

.jsCalendar.material-theme thead .jsCalendar-nav-left:hover,
.jsCalendar.material-theme thead .jsCalendar-nav-right:hover {
  background-color: #03A9F4;
}

.jsCalendar.material-theme thead .jsCalendar-title-right {
  right: 0;
}

.jsCalendar.material-theme thead .jsCalendar-week-days th {
  font-size: 14px;
  text-shadow: none;
}

/* Yellow */
.jsCalendar.material-theme.yellow thead {
  background-color: #FFE31B;
}

.jsCalendar.material-theme.yellow thead .jsCalendar-nav-left:hover,
.jsCalendar.material-theme.yellow thead .jsCalendar-nav-right:hover {
  background-color: #E2CA23;
}

/* Orange */
.jsCalendar.material-theme.orange thead {
  background-color: #FFB400;
}

.jsCalendar.material-theme.orange thead .jsCalendar-nav-left:hover,
.jsCalendar.material-theme.orange thead .jsCalendar-nav-right:hover {
  background-color: #D49600;
}

/* Red */
.jsCalendar.material-theme.red thead {
  background-color: #F6511D;
}

.jsCalendar.material-theme.red thead .jsCalendar-nav-left:hover,
.jsCalendar.material-theme.red thead .jsCalendar-nav-right:hover {
  background-color: #BB3D16;
}

/* Green */
.jsCalendar.material-theme.green thead {
  background-color: #7FB800;
}

.jsCalendar.material-theme.green thead .jsCalendar-nav-left:hover,
.jsCalendar.material-theme.green thead .jsCalendar-nav-right:hover {
  background-color: #639000;
}



/* Classic Theme */
/* Blue default */
.jsCalendar.classic-theme table,
.jsCalendar.classic-theme thead .jsCalendar-nav-left,
.jsCalendar.classic-theme thead .jsCalendar-nav-right,
.jsCalendar.classic-theme thead .jsCalendar-week-days th,
.jsCalendar.classic-theme tbody td,
.jsCalendar.classic-theme tbody td.jsCalendar-current {
  border-radius: 0;
}

.jsCalendar.classic-theme thead {
  background-color: #52C9FF;
  margin: 0;
  padding: 4px 4px 0 4px;
}

.jsCalendar.classic-theme thead .jsCalendar-title-row,
.jsCalendar.classic-theme thead .jsCalendar-title {
  display: block;
  width: 100%;
}

.jsCalendar.classic-theme thead .jsCalendar-title {
  position: relative;
}

.jsCalendar.classic-theme thead .jsCalendar-title-name {
  color: #FFFFFF;
  font-size: 16px;
  left: 41px;
  position: absolute;
  right: 41px;
  text-align: center;
  text-shadow: none;
}

.jsCalendar.classic-theme thead .jsCalendar-title-left,
.jsCalendar.classic-theme thead .jsCalendar-title-right {
  position: absolute;
  z-index: 1;
}

.jsCalendar.classic-theme thead .jsCalendar-title-right {
  right: 0;
}

.jsCalendar.classic-theme thead .jsCalendar-nav-left,
.jsCalendar.classic-theme thead .jsCalendar-nav-right {
  color: #FFFFFF;
  text-shadow: none;
}

.jsCalendar.classic-theme thead .jsCalendar-nav-left:hover,
.jsCalendar.classic-theme thead .jsCalendar-nav-right:hover {
  background-color: #03A9F4;
}

.jsCalendar.classic-theme thead .jsCalendar-week-days {
  background-color: #FFFFFF;
  display: block;
  margin: 0 -4px;
}

.jsCalendar.classic-theme thead .jsCalendar-week-days th {
  font-size: 10px;
  height: 20px;
  line-height: 20px;
  text-shadow: none;
}

.jsCalendar.classic-theme tbody td {
  border-left: 1px solid #DADADA;
  border-top: 1px solid #DADADA;
  margin: -1px 0 0 -1px;
  padding: 1px 1px 0 1px;
  width: 38px;
}

.jsCalendar.classic-theme tbody {
  margin: 0;
}

.jsCalendar.classic-theme tbody td.jsCalendar-selected {
  background-color: #CCEFFF;
  border-bottom: 0;
  border-left: 1px solid #DADADA;
  border-right: 0;
  border-top: 1px solid #DADADA;
  height: 36px;
  line-height: 36px;
}

.jsCalendar.classic-theme tbody td.jsCalendar-current.jsCalendar-selected {
  background-color: #52C9FF;
  text-shadow: 0 0 3px #000000;
}

/* Yellow */
.jsCalendar.classic-theme.yellow thead {
  background-color: #FFE31B;
}

.jsCalendar.classic-theme.yellow thead .jsCalendar-nav-left:hover,
.jsCalendar.classic-theme.yellow thead .jsCalendar-nav-right:hover {
  background-color: #E2CA23;
}

/* Orange */
.jsCalendar.classic-theme.orange thead {
  background-color: #FFB400;
}

.jsCalendar.classic-theme.orange thead .jsCalendar-nav-left:hover,
.jsCalendar.classic-theme.orange thead .jsCalendar-nav-right:hover {
  background-color: #D49600;
}

/* Red */
.jsCalendar.classic-theme.red thead {
  background-color: #F6511D;
}

.jsCalendar.classic-theme.red thead .jsCalendar-nav-left:hover,
.jsCalendar.classic-theme.red thead .jsCalendar-nav-right:hover {
  background-color: #BB3D16;
}

/* Green */
.jsCalendar.classic-theme.green thead {
  background-color: #7FB800;
}

.jsCalendar.classic-theme.green thead .jsCalendar-nav-left:hover,
.jsCalendar.classic-theme.green thead .jsCalendar-nav-right:hover {
  background-color: #639000;
}

.key {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.key-item {
  padding: 10px;
  color: #000;
  border-radius: 5px;
  margin-right: 10px;
}

.jsCalendar-RecoveryRun {
  background-color: #1d8cf8; /* Darker Light Blue */
}

.jsCalendar-EasyRun {
  background-color: #acdc2b; /* Darker Yellow-Green */
}

.jsCalendar-LongRun {
  background-color: #5c39f8; /* Darker Dark Blue */
}

.jsCalendar-MarathonPace {
  background-color: #f67b14; /* Darker Orange */
}

.jsCalendar-IntervalTraining {
  background-color: #01c038; /* Darker Bright Green */
}

.jsCalendar-TempoRun {
  background-color: #b83215; /* Darker Red */
}

.jsCalendar-VO2Max {
  background-color: #f542ab; /* Darker Pink */
}

.jsCalendar-RaceDay {
  background-image: url('/images/race-day-gold-star.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
}

/* Totally removes days of previous and next months*/
.jsCalendar tbody td.jsCalendar-previous,
.jsCalendar tbody td.jsCalendar-next {
  background-color: transparent !important;
  background-image: none !important;
  color: transparent !important;
  text-indent: -9999px;
}

.weather-icon {
  width: 50px;
  height: auto;
  vertical-align: middle;
}