html {
  font-size: 14px;
  position: center;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: #333030;
  /* Dark Grey */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #f7f7f7;
  /* Light Grey */
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.wrapper:after {
  content: "";
  height: 50px;
  display: block;
}

.sticky-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.mobile-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: small;
}

.custom-hr {
  border-top: 3px solid #ccc
}

.key-item {
  display: inline-block;
  white-space: nowrap;
}

.tooltip-icon {
  font-size: 12px;
  vertical-align: top;
  display: inline-block;
}

/* Modern style for primary buttons */
.btn-primary {
  background-color: #007BFF;
  /* Keeping it blue */
  border: none;
  border-radius: 25px;
  /* Rounded corners */
  padding: 10px 20px;
  /* A bit more padding */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for depth */
  transition: all 0.3s;
  /* Smooth transition for hover effects */
}

.btn-primary:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

/* Styles for link buttons */
.btn-link {
  color: #007BFF;
  text-decoration: none;
  border: none;
  transition: color 0.2s;
  padding: 5px 10px;
  border-radius: 15px;
  /* Rounded corners for hover background */
  background-color: transparent;
  /* No background initially */
}

.btn-link:hover {
  color: #fff;
  /* White text on hover */
  background-color: #007BFF;
  /* Blue background on hover */
}

.table,
.card {
  background-color: #323232;
  /* Dark Grey */
  color: #f7f7f7;
  /* Light Grey */
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
}

main {
  flex-grow: 1;
}

nav.navbar {
  z-index: 100;
}

/* Start of Index/About Page CSS */
.fixed-container {
  position: fixed;
  /* This makes sure the container covers the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  /* Flexbox to center its children */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* Prevents any overflow from children */
}

#index-page .section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#user-guide .section {
  position: absolute;
  /* Makes each section stack on top of each other */
  top: 50%;
  /* Starts the section at the middle of the page */
  left: 50%;
  /* Starts the section at the middle of the page */
  transform: translate(-50%, -50%);
  /* Ensures true centering */
  width: 80%;
  /* Adjust as necessary for desired width */
  text-align: center;
  /* Center the content inside each section */
}

#index-page #welcome-section,
#user-guide #welcome-section {
  padding: 20px;
}

#index-page #scroll-indicator {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fd7101;
  font-size: 14px;
  margin-top: 10px;
}

#index-page .section, 
#user-guide .section{
  pointer-events: none;  /* Disable all pointer events when hidden */
  opacity: 0;
  transition: opacity 0.75s;
}



#user-guide .scroll-indicator {
  position: absolute !important;
  bottom: 500px !important;
  left: 50%;
  transform: translateX(-50%);
}

#scroll-indicator img {
  width: 30px;
  height: auto;
}

#menu-section {
  display: flex;
  justify-content: center;
}

.menu-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 10px;
  position: relative;
  text-decoration: none;
}

.menu-button:hover,
.menu-button:focus {
  text-decoration: none;
}

.menu-button:active {
  color: inherit;
}

.menu-button:before {
  content: "";
  position: absolute;
  top: -50%;
  left: -70%;
  width: 250%;
  height: 200%;
  background: linear-gradient(45deg, #fd7101, #fd7090);
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.menu-button:hover:before {
  transform: rotate(225deg);
  top: -60%;
  left: -60%;
}

#first-button:hover {
  background-color: #ff6400;
  color: #111;
}

#second-button:hover {
  background-color: #000000;
  color: #ff6400;
}

#how-to-button:hover {
  background-color: #ff6400;
  color: #111;
}

#index-page #fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#index-page .fade-in,
#user-guide .fade-in {
  opacity: 1 !important;
  pointer-events: auto; 
}

.fade-out {
  opacity: 0 !important;
}

#user-guide .section {
  background-color: #fd7101;
  /* A bright background to make the section pop */
  color: #000000;
  /* White text for contrast */
  padding: 30px;
  /* Padding to give the content some space */
  border-radius: 15px;
  /* Rounded corners for a softer appearance */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for depth */
}

#user-guide .section h1 {
  margin-bottom: 20px;
  /* Space between the header and paragraph */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  /* Shadow to make the header stand out */
  animation: popIn 0.5s ease-out;
  /* Animation to make the header pop in */
}

#user-guide .section p {
  font-size: 1.2em;
  /* Increase the font size of the paragraph */
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  /* Subtle shadow for the paragraph text */
}

.hidden {
  display: none;
}

/* Animation to make the header pop in */
@keyframes popIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* End of Index/About Page CSS */
/* Training View  */
.modal-content {
  background-color: #333030;
  color: #f7f7f7;
}

#changeButton {
  border-radius: 5px;
  /* Rounded corners */
  padding: 10px 10px;
  /* Some padding to make it look more button-like */
  background-color: #a7754d;
  border: 2px solid #009688;
  /* Dark Teal */
}

#detailsButton {
  background-color: #009688;
}

#detailsButton focus {
  outline: none;
}

#detailsButton i {
  margin-right: 5px;
  /* Spacing between icon and text */
}

#detailsBox {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

#detailsBox div {
  margin-bottom: 15px;
}

.completed-workout {
  border: 2px solid #32CD32 !important;
  padding: 10px;
  border-radius: 5px;
}

#workout-details {
  border: 2px solid transparent;
  padding: 10px;
  border-radius: 5px;
}

#training-plan .completed-workout {
  background-color: #323232;
  /* Dark Grey */
  color: #f7f7f7;
  /* Light Grey */
  border: 2px solid #32CD32 !important;
  border-radius: 10px;
  padding: 10px;
}

.not-fully-complete {
  border: 2px solid yellow !important;
  border-radius: 10px;
  padding: 10px;
}


#training-plan .list-group-item {
  background-color: #323232;
  /* Dark Grey */
  color: #f7f7f7;
  /* Light Grey */
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  padding: 15px;
}

#training-plan h4 {
  color: #f7f7f7;
  /* Light Grey */
  font-size: 1.5em;
  margin-bottom: 10px;
}

#training-plan h5 {
  color: #f7f7f7;
  /* Light Grey */
  font-size: 1.5em;
  margin-bottom: 5px;
}

#training-plan p {
  color: #f7f7f7;
  /* Light Grey */
  font-size: 1em;
  line-height: 1.5;
}

#training-plan button {
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#training-plan button:hover {
  background-color: #f7f7f7;
  /* Light Grey */
  color: #009688;
  /* Dark Teal */
}

#training-plan .list-group-item {
  border: 2px solid transparent;
}

#training-plan .list-group-item:hover {
  border: 2px solid #009688;
}

#saveButton {
  background-color: #009688
}

#prevWeek {
  background-color: transparent;
  float: left;
}

#nextWeek {
  background-color: transparent;
  float: right;
}

#calendar-plan button {
  background-color: #155013;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.warning-text {
  color: red;
  display: none;
  /* Hidden by default */
  margin-left: 10px;
}

#warningField {
  color: red;
}

.clear-button {
  color: darkred !important;
  border-color: darkred !important;
}


/* Calendar CSS */
/* Default Theme */
/* General style */
.jsCalendar * {
  margin: 0;
  padding: 0;
}

.jsCalendar table,
.jsCalendar table th,
.jsCalendar table td {
  border: 0;
  box-sizing: content-box;
}

/* Blue default */
.jsCalendar table {
  background-color: #3b3b3b;
  border-collapse: collapse;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  font-family: Tahoma, Geneva, sans-serif;
  margin: 5px;
}

.jsCalendar tr {
  line-height: 0;
}

.jsCalendar thead .jsCalendar-title {
  height: 40px;
  line-height: 40px;
}

.jsCalendar thead .jsCalendar-title-left {
  float: left;
}

.jsCalendar thead .jsCalendar-title-right {
  float: right;
}

.jsCalendar thead .jsCalendar-nav-left,
.jsCalendar thead .jsCalendar-nav-right {
  border-radius: 10px;
  color: #999999;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin: 10px 8px;
  text-align: center;
  transition: color 0.2s, background-color 0.2s;
  width: 20px;
}

.jsCalendar thead .jsCalendar-nav-left:hover,
.jsCalendar thead .jsCalendar-nav-right:hover {
  background-color: #E2E2E2;
  color: #000000;
}

.jsCalendar thead .jsCalendar-nav-left {
  float: left;
}

.jsCalendar thead .jsCalendar-nav-right {
  float: right;
}

.jsCalendar thead .jsCalendar-title-name {
  cursor: default;
  float: left;
  font-size: 18px;
  font-weight: lighter;
  padding: 0 20px;
}

.jsCalendar thead .jsCalendar-nav-left:after {
  content: "<";
}

.jsCalendar thead .jsCalendar-nav-right:after {
  content: ">";
}

.jsCalendar thead .jsCalendar-week-days th {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.jsCalendar thead .jsCalendar-week-days th,
.jsCalendar tbody td {
  border-radius: 18px;
  border: 2px solid transparent;
  /* Set default border for all cells */
  box-sizing: border-box;
  cursor: default;
  display: inline-block;
  font-size: 12px;
  font-weight: lighter;
  height: 36px;
  line-height: 36px;
  margin: 1px 2px;
  text-align: center;
  transition: color 0.1s, background-color 0.2s;
  width: 36px;
}

.jsCalendar tbody td:hover {
  border: rgb(202, 11, 11) solid 2px !important;
}

.jsCalendar tbody td.jsCalendar-selected {
  border: rgb(202, 11, 11) solid 2px;
  background-color: #be0303;
  border: 2px solid #000000;
  height: 32px;
  line-height: 32px;
  width: 32px;
}

.jsCalendar tbody td.selected-date {
  border: rgb(202, 11, 11) solid 2px !important;
}

.jsCalendar tbody td.jsCalendar-current {
  font-weight: 200;
  border-radius: 18px;

  border: rgb(11, 202, 11) solid 2px;
}

.jsCalendar tbody td.jsCalendar-previous,
.jsCalendar tbody td.jsCalendar-next,
.jsCalendar tbody td.jsCalendar-unselectable {
  color: #CACACA;
}

.jsCalendar tbody td.jsCalendar-previous:hover,
.jsCalendar tbody td.jsCalendar-next:hover {
  color: #FFFFFF;
}

.jsCalendar tbody td.jsCalendar-unselectable:hover {
  background: transparent;
}

.jsCalendar thead {
  display: block;
  margin: 4px 4px 0 4px;
}

.jsCalendar tbody {
  display: block;
  margin: 0 4px 4px 4px;
}

.jsCalendar ::-moz-selection {
  background: #83D8FF;
}

.jsCalendar ::selection {
  background: #83D8FF;
}

/* Material Theme */
/* Blue default */
.jsCalendar.material-theme table {
  border-radius: 0;
}

.jsCalendar.material-theme thead {
  background-color: #5bc0de;
  color: #FFFFFF;
  margin: 0;
  padding: 4px 4px 0 4px;
}

.jsCalendar.material-theme thead .jsCalendar-title {
  display: block;
  position: relative;
}

.jsCalendar.material-theme thead .jsCalendar-title-name {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  color: #FFFFFF;
  font-size: 16px;
  left: 15px;
  position: absolute;
  right: 15px;
  text-align: center;
}

.jsCalendar.material-theme thead .jsCalendar-title-left,
.jsCalendar.material-theme thead .jsCalendar-title-right {
  position: absolute;
  z-index: 1;
}

.jsCalendar.material-theme thead .jsCalendar-nav-left,
.jsCalendar.material-theme thead .jsCalendar-nav-right {
  color: #FFFFFF;
}

.jsCalendar.material-theme thead .jsCalendar-nav-left:hover,
.jsCalendar.material-theme thead .jsCalendar-nav-right:hover {
  background-color: #03A9F4;
}

.jsCalendar.material-theme thead .jsCalendar-title-right {
  right: 0;
}

.jsCalendar.material-theme thead .jsCalendar-week-days th {
  font-size: 14px;
  text-shadow: none;
}

.key {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.key-item {
  padding: 10px;
  color: #000;
  border-radius: 5px;
  margin-right: 10px;
}

.jsCalendar-RecoveryRun {
  background-color: #1d8cf8;
  /* Darker Light Blue */
}

.jsCalendar-EasyRun {
  background-color: #acdc2b;
  /* Darker Yellow-Green */
}

.jsCalendar-LongRun {
  background-color: #822abd;
  /* Darker Dark Blue */
}

.jsCalendar-MarathonPace {
  background-color: #f67b14;
  /* Darker Orange */
}

.jsCalendar-IntervalTraining {
  background-color: #01c038;
  /* Darker Bright Green */
}

.jsCalendar-TempoRun {
  background-color: #b83215;
  /* Darker Red */
}

.jsCalendar-VO2Max {
  background-color: #f542ab;
  /* Darker Pink */
}

.jsCalendar-RaceDay {
  background-image: url('/images/race-day-gold-star.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
}

/* Totally removes days of previous and next months*/
.jsCalendar tbody td.jsCalendar-previous,
.jsCalendar tbody td.jsCalendar-next {
  visibility: hidden;
}

/* End of Calendar CSS */
/* End of Training View */

/* Start of Tutorial View */

#tutorial .intro-section {
  background-color: #d86b11;
  /* Light blueish background for contrast */
  padding: 20px 40px;
  /* Spacing inside the box */
  border-radius: 15px;
  /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  font-style: bold;
  /* Italicized text to emphasize the content */
  font-style: italic;
  text-align: center;
  /* Centered text */
}

#tutorial .intro-section p {
  font-size: 18px;
  /* Increased font size for readability */
  line-height: 1.6;
  /* Spaced out lines for better readability */
  color: #000;
}

#tutorial .workout-info {
  border-radius: 20px;
  /* Rounded corners */
  padding: 15px;
  /* Padding to space out content */
  margin-bottom: 15px;
  /* Space between each item */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for depth */
  transition: all 0.3s;
  /* Smooth transition effects */
}

#tutorial .workout-info:hover {
  transform: scale(1.02);
  /* Slightly enlarge when hovered */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  /* Increase shadow depth when hovered */
}

#tutorial .workout-info h4 {
  font-weight: bold;
  margin-bottom: 10px;
  /* Space between the title and the description */
  color: #000;
  /* Darker text color for the title */
}

#tutorial .workout-info p {
  color: #000;
  /* Medium color for paragraphs */
  line-height: 1.5;
  /* Spaced out lines for readability */
  font-size: large;
}


/* Start of Weather View */
.weather-icon {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: -50px;
  margin-bottom: -50px;
}