html {
  font-size: 14px;
  position: center;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin-bottom: 60px;
}

nav.navbar {
  z-index: 100;
}

#fixed-container .section{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#welcome-section {
  padding: 20px;
}

#scroll-indicator {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#scroll-indicator p {
  color: #000;
  font-size: 16px;
  margin-bottom: 10px;
}

#scroll-indicator img {
  width: 30px;
  height: auto;
}

#menu-section {
  display: flex;
  justify-content: center;
}

.menu-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 10px;
  position: relative;
  text-decoration: none;
}
.menu-button:hover,
.menu-button:focus {
  text-decoration: none;
}

.menu-button:active {
  color: inherit;
}

.menu-button:before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(45deg, #eee, #ccc);
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.menu-button:hover:before {
  transform: rotate(225deg);
  top: -60%;
  left: -60%;
}

#login-button:hover {
  background-color: #ff6400;
  color: #111;
}

#register-button:hover {
  background-color: #000000;
  color: #ff6400;
}

#how-to-button:hover {
  background-color: #ff6400;
  color: #111;
}

#fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section {
  opacity: 0;
  transition: opacity 0.75s;
}

.fade-in {
  opacity: 1 !important;
}

.fade-out {
  opacity: 0 !important;
}
