@using Pacer.Web;

<h2 class="mx-auto" class="btn btn-info" type="button" id="detailsButton" class="btn btn-danger">
    <i class="bi bi-clipboard-fill"></i> Details
</h2>
<div class="collapse mx-auto center" id="detailsBox">
    <div class="card card-body mx-auto">
        <div>
            <ul>
                @Html.Raw(TrainingPlanDetails.GetTrainingDetails(Model.TargetRace.ToString()))
                <li>If you miss a workout, you may complete it on a different day and update the plan. Be careful not 
                    to let runs buildup.</li>
                <li>The taper phase is crucial to allow the body to recover before the race.</li>
                <li>As always, listen to your body. If something doesn't feel right, consider adjusting the plan or
                    consulting a coach.</li>
                <li>Incorporate strength training and flexibility exercises like yoga or pilates on rest days or
                    post-run for better results and injury prevention.</li>
                <li>Nutrition and hydration play a significant role in training. Ensure a balanced diet and stay
                    hydrated.</li>
                <li>Take care of your body by warming up before a workout and making sure to cool down after.</li>
                <li>Remember, consistency is the key. Stick to the plan, and you'll see progress.</li>
            </ul>
        </div>
    </div>
</div>
<hr class="custom-hr">

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var detailsButton = document.getElementById('detailsButton');
        var detailsBox = document.getElementById('detailsBox');

        detailsButton.addEventListener('click', function () {
            if (detailsBox.style.display === 'none' || detailsBox.style.display === '') {
                detailsBox.style.display = 'block';
            } else {
                detailsBox.style.display = 'none';
            }
        });
    });
</script>