<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Pacer</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/LogoTrimWIP.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>

<body>
    <header role="banner">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark shadow-lg rounded mb-3" role="navigation"
            aria-label="Main navigation">
            <div class="container">
                <a class="navbar-brand" href="#" style="display: flex; align-items: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Pacer Logo" width="30" height="30"
                        class="bi bi-exclude" viewBox="0 0 40 40" style="margin-right: 5px;">
                        <image xlink:href="/images/LogoTrimWIP.png" width="50" height="50" />
                    </svg>
                    <span>Pacer</span>
                </a>
                @await Component.InvokeAsync("Navbar")
                <partial name="_LoginPartial" />
            </div>
            </div>
        </nav>
    </header>
    <div class="wrapper">
        <div class="container">
            <partial name="_Alert" />
            <main role="main" aria-label="Main Content" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    @{
        var controller = ViewContext.RouteData.Values["controller"].ToString();
        var action = ViewContext.RouteData.Values["action"].ToString();
    }

    @if (!(controller == "Home" && action == "Index"))
    {
        <footer class="sticky-footer border-top footer text-muted">
            <div class="container d-flex justify-content-between align-items-center">
                <div>
                    &copy; @DateTime.Now.Year - Pacer -
                    <a asp-controller="Home" asp-action="Privacy" style="color: inherit;">Privacy</a> -
                    <a asp-controller="Home" asp-action="UserGuide" style="color: inherit;">User Guide</a>
                </div>
                <div>
                    <a href="mailto:feedback.pacer@outlook.com" style="color: inherit;">
                        <i class="bi bi-envelope-fill" aria-hidden="true"></i> Send Feedback
                    </a>
                </div>
            </div>
        </footer>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>