@model ErrorViewModel
<div class="card shadow p-4 mt-4 mx-auto w-75">
    <div class="position-absolute top-0 start-50 translate-middle rounded-circle bg-dark">
        <img src="\images\LogoTrimWIP.png" height="50px">
    </div>
    <h1 class="mx-auto text-danger">Oops!</h1>
    <hr class="custom-hr">
    <div class="mt-3">
        <h4 class="form-label text-danger">An error occurred while processing your request.</h4>
    </div>
    @if (Model?.ShowRequestId ?? false)
    {
        <div class="mt-3">
            <h4 class="form-label">Request ID: <code>@Model?.RequestId</code></h4>
        </div>
    }
    <div class="mt-3">
            <h4 class="form-label">If you require assistance you can 
                <a href="mailto:feedback.pacer@outlook.com" style="color: inherit;">
                    <i class="bi bi-envelope-fill"></i> contact us
                </a>.</h4>
        </div>
    <hr class="custom-hr">
</div>
