<body id="about-page">
    <div class="fixed-container">
        <!-- Welcome Section -->
        <div id="welcome-section" class="section fade-in">
            <h1 class="display-3">How do I use Pacer?</h1>
            <div id="scroll-indicator">
                <img src="/images/arrow-down-border-bold.png" alt="Arrow pointing down">
            </div>
        </div>

        <div id="profile-section" class="section fade-out">
            <h1>Your Running Profile</h1>
            <p>
                Upon joining Pacer, you'll be prompted to create your running profile.
            </p>
            <p>
                This includes details about you and your current running habits.
            </p>
            <p>
                This helps us recommend a training plan that is just right for you.
            </p>
            <div id="scroll-indicator">
                <img src="/images/arrow-down-border-bold.png" alt="Arrow pointing down">
            </div>
        </div>

        <!-- Training Plan Section -->
        <div id="training-section" class="section fade-out">
            <h1>Bespoke Training Plan</h1>
            <p>
                Pacer will design a training plan tailored to your goals.
            </p>
            <p>
                Whether you're a beginner looking to run your first half-marathon or an experienced runner aiming for
                a new marathon personal best, Pacer has you covered.
            </p>
            <p>
                Your plan is adaptable, ensuring optimal pacing and progression.
            </p>
            <div id="scroll-indicator">
                <img src="/images/arrow-down-border-bold.png" alt="Arrow pointing down">
            </div>
        </div>

        <!-- Progress Tracking Section -->
        <div id="tracking-section" class="section fade-out">
            <h1>Progress Tracking</h1>
            <p>
                Log your workouts on Pacer to monitor your progress against your plan.
            </p>
            <p>
                Pacer helps you save and visualize your weekly progress.
            </p>
            <p>
                Stay motivated by seeing how well you're keeping up with your training goals.
            </p>
            <div id="scroll-indicator">
                <img src="/images/arrow-down-border-bold.png" alt="Arrow pointing down">
            </div>
        </div>

        <!-- Achieving Goals Section -->
        <div id="goals-section" class="section fade-out">
            <h1>Achieve Your Goals</h1>            
            <p>
                With Pacer by your side, you're not just training; you're embarking on a journey.
            </p>
            <p>
                By the end of your training plan, you'll be fully prepared to tackle your race,
                and achieve the goals you've set for yourself.
            </p>
            <p>
                So what are you waiting for? Click below to get started!
            </p>
            <a href="@Url.Action("GetStarted", "Home")">
                <img src="/images/LogoBlack.png" height="100px" alt="Black Pacer Logo">
            </a>

        </div>
    </div>
</body>