<body id="index-page">
    <div id="fixed-container">
        <!-- Initial content -->
        <div id="welcome-section" class="section fade-in">
            <h1 class="display-3">Welcome to</h1>
            <div id="scroll-indicator">
                <p>Scroll</p>
                <img src="/images/arrow-down.png" alt="Arrow pointing down">
            </div>
        </div>

        <div id="title-section" class="section fade-out">
            <h1 class="display-3"><b>Pacer</b></h1>
            <div id="scroll-indicator">
                <img src="/images/arrow-down.png" alt="Arrow pointing down">
            </div>
        </div>

        <!-- Logo section -->
        <div id="logo-section" class="section fade-out">
            <img src="/images/LogoTrimWIP.png" width="75%" alt="Logo">
            <div id="scroll-indicator">
                <img src="/images/arrow-down.png" alt="Arrow pointing down">
            </div>

        </div>

        <!-- Bespoke menu section -->
        <div id="menu-section" class="section fade-out">
            <a class="menu-button" id="login-button" asp-controller="User" asp-action="Login">Log In</a>
            <a class="menu-button" id="register-button" asp-controller="User" asp-action="Register">Register</a>
            <a class="menu-button" id="how-to-button" asp-controller="Home" asp-action="About">How do I use Pacer?</a>
        </div>
</body>

</div>


<!-- Scripts -->
<script src="js/site.js"></script>
